@model WEBSAIGONGLISTEN.Models.Product
@{
    ViewData["Title"] = "Hiển thị gói du lịch";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="text-center">@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-light shadow mb-4">
                <div class="card-header">
                    <h3 class="text-primary">Thông tin cơ bản</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">1. Tên: @Model.Name</h4>
                    <!-- 3. Hình ảnh -->
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <div>
                            <h4 class="card-title">3. Hình ảnh:</h4>
                            <img src="@Model.ImageUrl" alt="Hình ảnh sản phẩm" class="img-fluid rounded" style="max-width: 200px;" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light shadow mb-4">
                <div class="card-header">
                    <h3 class="text-primary">Thông tin chi tiết</h3>
                </div>
                <div class="card-body">
                  
                </div>
            </div>
</div>
    </div>
</div>

<a asp-action="Index" class="btn btn-primary btn-block mt-3">Quay lại danh sách</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}