@model WEBSAIGONGLISTEN.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Cập nhật gói du lịch";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card mt-4">
                <h2 class="card-header text-center">@ViewData["Title"]</h2>
                <div class="card-body">
                    <form asp-action="Update" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="font-weight-bold">Tên gói du lịch:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="font-weight-bold">Mô tả:</label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="font-weight-bold">Khu vực:</label>
                            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageUrl" class="font-weight-bold">Hình ảnh sản phẩm:</label>
                            <input type="file" asp-for="ImageUrl" class="form-control" id="imageInput" onchange="previewImage()" />
                            <img src="@Model.ImageUrl" alt="Hình ảnh sản phẩm" class="mt-2 img-thumbnail d-block mx-auto" style="max-width: 200px;" />
                        </div>


                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage() {
        var preview = document.getElementById("imagePreview");
        var file = document.getElementById("imageInput").files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
