@model WEBSAIGONGLISTEN.Models.Category
@{
    ViewData["Title"] = "Xóa điểm đến";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewData["Title"]</h2>
<form asp-controller="Categories" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <p>Bạn có muốn xóa gói @Model.Name?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}